<!-- selection-section starts-->
  <div class="select_sec" ng-controller = "FlagController" >
      <div class="container">
          <div class="select_inr">
            <div class="select_item clearfix"> 
                <div class="select_area">
                  <select name="number" class="block" ng-model="vm.state" ng-options="x for x in states" ng-change="changeListInCtrl(vm.state);" ng-init="vm.state = vm.state || 'State'">
                  </select>
                </div>
                <div class="select_area">
                  <select name="number" id="region" class="block" ng-model="vm.region" ng-options="x for x in regions" ng-init="vm.region = vm.region || 'Region'">
                  </select>
                </div>
                <div class="select_area">
                  <select name="number" id="category" class="block" ng-model="vm.category" ng-options="x for x in categories" ng-init="vm.category = vm.category || 'Category'">
                  </select>
                </div>
                <div class="select_sbt">
                   <input type="submit" placeholder="Submit" ng-click ="vm.search()">
                </div>
            </div>
            <div class="add_post post_bk">
              <input type="submit" value="Post an AD" ng-click="vm.post()">
            </div>
          </div>
      </div>  
    </div>
    <!-- selection-section ends-->

   <!-- add_details -->
   <section class="add_details" ng-controller = "FlagController" ng-init = "initController();">
      <div class="container">
          <div class="add_hdr">
            <h2>The post has been flagged!</h2>
          </div>
          <div class="bio_sec">
            <div class="privacy_inr">
              <p>An email has been sent to the poster saying that the post is flagged and will be removed from healthyflings listing.</p>

              <p>Click <a href="/admin/#/">here</a> to return to the main site.</p>
            </div>

          </div>
      </div>
   </section>