<!-- selection-section starts-->
    <div class="select_sec" ng-controller = "DetailController" >
      <div class="container">
          <div class="select_inr">
            <div class="select_item clearfix"> 
                <div class="select_area">
                  <select name="number" class="block" ng-model="vm.state" ng-options="x for x in states" ng-change="changeListInCtrl(vm.state);" ng-init="vm.state = vm.state || 'State'">
                  </select>
                </div>
                <div class="select_area">
                  <select name="number" id="region" class="block" ng-model="vm.region" ng-options="x for x in regions" ng-init="vm.region = vm.region || 'Region'">
                  </select>
                </div>
                <div class="select_area">
                  <select name="number" id="category" class="block" ng-model="vm.category" ng-options="x for x in categories" ng-init="vm.category = vm.category || 'Category'">
                  </select>
                </div>
                <!-- <div class="select_area">
                  <select name="number" id="state" class="block" ng-model="vm.state">
                    <option selected="selected">State</option>
                    <option>California</option>
                    <option>State2</option>
                    <option>State3</option>
                    <option>State4</option>
                    <option>State5</option>
                    <option>State6</option>
                  </select>
                </div>
                <div class="select_area">
                  <select name="number" id="region" class="block" ng-model="vm.region">
                    <option selected="selected">Region</option>
                    <option>Los Angelas</option>
                    <option>Region2</option>
                    <option>Region3</option>
                    <option>Region4</option>
                    <option>Region5</option>
                    <option>Region6</option>
                  </select>
                </div>
                <div class="select_area">
                  <select name="number" id="category" class="block" ng-model="vm.category">
                    <option selected="selected">Category</option>
                    <option>Men Seeking Woman</option>
                    <option>Category2</option>
                    <option>Category3</option>
                    <option>Category4</option>
                    <option>Category5</option>
                    <option>Category6</option>
                  </select>
                </div> -->
                <div class="select_sbt">
                   <input type="submit" placeholder="Submit" ng-click ="vm.search()">
                </div>
            </div>
            <div class="add_post post_bk">
              <input type="submit" value="Post an AD" ng-click="vm.post()">
            </div>
          </div>
      </div>  
    </div>
    <!-- selection-section ends-->

    <!-- gallery cnt-->

    <div class="gallery_cnt" ng-controller = "DetailController" ng-init = "initController();"> 
      <div class="container">
         <div class="bread_cnt">
            <ol class="breadcrumb">
              <li class="breadcrumb-item" ng-if ="state"><a href="">{{state}}</a></li>
              <li class="breadcrumb-item" ng-if ="region"><a href="">{{region}}</a></li>
               <li class="breadcrumb-item" ng-if ="category"><a href="">{{category}}</a></li>
            </ol>
        </div>
        <div class="gallery_det">
          <h2>{{title || message}}<span ng-if="location != '' || age != ''">- </span><span ng-if="age">{{age}}</span><span ng-if="location"> ({{location}})</span></h2>
          <div>
            <a href="#reply/{{post_id}}">Reply</a>
          </div>
          <div class="row" ng-show="showEmail" >
            <div class="col-md-7">
              <div class="form-group">
                <div class="col-md-9" style="padding: 0px;margin-bottom: 15px;">
                  <input id="email" name="email" type="text" placeholder="Your email" class="form-control" ng-model="sender2">
                </div>
              </div>
            </div>
          </div>
          <div class="gallery_slider clearfix" ng-if = "files" style="padding-bottom:15px;">
              <div class="galery_full" style="height:420px;">
                  <img style="max-height: : 100%;" src="{{mainImage}}" alt=""/>
              </div>
              <div class="gallery_thumb">
                <ul>
                    <li ng-repeat="item in files">
                      <a href="" ng-click = "changeMainImage(item);" >
                          <img style="width: 80px;height:80px;max-width: 100%;" src="{{ item.url}}" alt=""/>
                      </a>
                    </li>
                </ul>
              </div>
          </div>
          <div style="padding-bottom:50px;width:800px;padding-top:20px;">
            <h4 style= "padding-bottom: 20px">{{message}}</h2>
            <h6>Posted: <time am-time-ago="created"></time</h6>
          </div>
        </div>
      </div>
    </div>

    <!-- gallery cnt ends-->