<!-- selection-section starts-->
    <div class="select_sec" ng-controller = "DetailController" >
      <div class="container">
          <div class="select_inr">
            <div class="select_item clearfix"> 
                <div class="select_area">
                  <select name="number" class="block" ng-model="vm.state" ng-options="x for x in states" ng-change="changeListInCtrl(vm.state);" ng-init="vm.state = vm.state || 'State'">
                  </select>
                </div>
                <div class="select_area">
                  <select name="number" id="region" class="block" ng-model="vm.region" ng-options="x for x in regions" ng-init="vm.region = vm.region || 'Region'">
                  </select>
                </div>
                <div class="select_area">
                  <select name="number" id="category" class="block" ng-model="vm.category" ng-options="x for x in categories" ng-init="vm.category = vm.category || 'Category'">
                  </select>
                </div>
                <!-- <div class="select_area">
                  <select name="number" id="state" class="block" ng-model="vm.state">
                    <option selected="selected">State</option>
                    <option>California</option>
                    <option>State2</option>
                    <option>State3</option>
                    <option>State4</option>
                    <option>State5</option>
                    <option>State6</option>
                  </select>
                </div>
                <div class="select_area">
                  <select name="number" id="region" class="block" ng-model="vm.region">
                    <option selected="selected">Region</option>
                    <option>Los Angelas</option>
                    <option>Region2</option>
                    <option>Region3</option>
                    <option>Region4</option>
                    <option>Region5</option>
                    <option>Region6</option>
                  </select>
                </div>
                <div class="select_area">
                  <select name="number" id="category" class="block" ng-model="vm.category">
                    <option selected="selected">Category</option>
                    <option>Men Seeking Woman</option>
                    <option>Category2</option>
                    <option>Category3</option>
                    <option>Category4</option>
                    <option>Category5</option>
                    <option>Category6</option>
                  </select>
                </div> -->
                <div class="select_sbt">
                   <input type="submit" placeholder="Submit" ng-click ="vm.search()">
                </div>
            </div>
            <div class="add_post post_bk">
              <input type="submit" value="Post an AD" ng-click="vm.post()">
            </div>
          </div>
      </div>  
    </div>
    <!-- selection-section ends-->

    <!-- gallery cnt-->

    <div class="gallery_cnt" ng-controller = "DetailController" ng-init = "initController();"> 
      <div class="container">
         <div class="bread_cnt">
            <ol class="breadcrumb">
              <li class="breadcrumb-item" ng-if ="state"><a href="" ng-click="vm.searchFilter(state,'Region','Category')">{{state}}</a></li>
              <li class="breadcrumb-item" ng-if ="region"><a href="" ng-click="vm.searchFilter(state,region,'Category')">{{region}}</a></li>
               <li class="breadcrumb-item" ng-if ="category"><a href="" ng-click="vm.searchFilter(state,region,category)">{{category}}</a></li>
            </ol>
        </div>
        <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
        <div class="gallery_det">
          <h2>{{title || message}}<span ng-if= " location || age ">- </span><span ng-if="age">{{age}}</span><span ng-if="location"> ({{location}})</span></h2>
          <div>
            <a ng-if ="!is_flagged" href="" ng-click="openModal()">Reply</a>
            <a ng-if ="!is_flagged" style="margin-left: 5px;" href="" ng-click="openModal_flag()">Flag</a>
            <a ng-if ="is_flagged" style="margin-left: 5px;" href="">Flagged</a>
            <a ng-if = "is_edit" style="margin-left: 5px;" href="#edit/{{post_id}}">Edit</a>
            <a ng-if = "is_edit" style="margin-left: 5px;" href="#delete/{{post_id}}">Delete</a>
          </div>
          <div class="row" ng-show="showEmail" >
            <div class="col-md-7">
              <div class="form-group">
                <div class="col-md-9" style="padding: 0px;margin-bottom: 15px;">
                  <input id="email" name="email" type="text" placeholder="Your email" class="form-control" ng-model="sender2">
                </div>
              </div>
            </div>
          </div>
          <div class="gallery_slider clearfix" ng-if = "files" style="padding-bottom:15px;">
              <div class="galery_full">
                  <img src="{{mainImage}}" alt=""/>
              </div>
              <div class="gallery_thumb">
                <ul>
                    <li ng-repeat="item in files">
                      <a href="" ng-click = "changeMainImage(item);" >
                          <img src="{{ item.secure_url}}" alt=""/>
                      </a>
                    </li>
                </ul>
              </div>
          </div>
          <div class="details_section">
            <div class="det_item" ng-if = "mage">
              <label>Age</label>
              <span>{{mage}}</span>
            </div>
            <div class="det_item" ng-if = "bodytype">
              <label>Body</label>
              <span>{{bodytype}}</span>
            </div>    
            <div class="det_item" ng-if = "height">
              <label>Height</label>
              <span>{{height}}</span>
            </div>
            <div class="det_item" ng-if = "mstatus">
              <label>Status</label>
              <span>{{mstatus}}</span>
            </div>
            <div class="det_item" ng-if = "haircolor">
              <label>Hair</label>
              <span>{{haircolor}}</span>
            </div>
            <div class="det_item" ng-if = "ethnicity">
              <label>Ethnicity</label>
              <span>{{ethnicity}}</span>
            </div>
            <div class="det_item" ng-if = "orientation">
              <label>Orientation</label>
              <span>{{orientation}}</span>
            </div>
            <div class="det_item" ng-if = "eyecolor">
              <label>Eye</label>
              <span>{{eyecolor}}</span>
            </div>
            <div class="det_item" ng-if = "gender">
              <label>Gender</label>
              <span>{{gender}}</span>
            </div>
            <div class="det_item" ng-if = "weight">
              <label>Weight</label>
              <span>{{weight}} LB</span>
            </div>
            <div class="det_item" ng-if = "bodyhair">
              <label>Body Hair</label>
              <span>{{bodyhair}}</span>
            </div>
            <div class="det_item" ng-if = "hivstatus">
              <label>HIV</label>
              <span>{{hivstatus}}</span>
            </div>
          </div>
          <div class="created_section">
            <h4 style="word-wrap: break-word;" ng-bind-html="message | unsafe"></h2>  
            <h5 style= "margin-top: 10px;font-weight: 500;">Posted: <time am-time-ago="created"></time</h5>
          </div>

          <div class="anonnymous_comment" ng-show = "anonymouscomment == 'enabled'">
            <div class="anonnymous_typos">
              <div class="comment_block">
                <h4>Post an anonnymous comment for this post!</h4>
                <div class="comment_field">
                  <textarea class="cust_textarea" ng-model="commentmessage"></textarea>
                </div>
              </div>
              <div class="comments_counter">
                <p><span>{{comments.length}}</span>comments</p>
              </div>
              <!-- <div class="form-group pdL">
                  <div class="reply_item" vc-recaptcha key="'6LdK608UAAAAAIIPni45gUqw9p_vn4mLa_CtlSlv'" ng-model="captcha"></div>
              </div> -->
              <div class="cust_sbt_outer text-right">
                 <input type="submit" value="Comment!" ng-click="addComment(post_id);">
              </div>
            </div>
            <div class="reply_anonnymous">
              <div class="reply_item_anony" ng-repeat="item in comments">
                <span>Reply {{$index+1}}</span>
                <a ng-if ="is_edit" href="" ng-click="deleteComment(item._id)">Delete</a>
                <div class="reply_txt_anony">
                  <h5 ng-show = "item.status == 'active'"> {{item.body}}</h5>
                  <h5 ng-show = "item.status == 'inactive'"> The post has been deleted</h5>
                  <p>Posted: <em><time am-time-ago="item.created"></time></em></p>
                </div>
              </div>
            </div>
          </div>

          <div class="disabled_anonymous_text" ng-show = "anonymouscomment != 'enabled'">
            <p><span><i class="fa fa-ban"></i></span>The poster has disabled anonymous comments</p>
          </div>

          <div ng-show = "windowWidth >= 752">
            <div class="advertise" ng-show = " (category == 'Men Seeking Woman') || (category == 'Women Seeking Men') || (category == 'Woman Seeking Woman') || (category == 't4m') || (category == 'm4t') || (category == 't4w') || (category == 'w4t') || (category == 't4t') || (category == 'mw4mw') || (category == 'mw4w') || (category == 'mw4m') || (category == 'w4mw') || (category == 'w4ww') || (category == 'ww4w') || (category == 'ww4m') || (category == 'mm4w') || (category == 'm4ww') || (category == 'w4mm') || (category == 't4mw') || (category == 'mw4t') ">
                
                <!-- JuicyAds v3.0 -->

                <script type="text/javascript" data-cfasync="false" async src="//adserver.juicyads.com/js/jads.js"></script>

                <ins id="668806" data-width="728" data-height="90"></ins>

                <script type="text/javascript" data-cfasync="false" async>(adsbyjuicy = window.adsbyjuicy || []).push({'adzone':668806});</script>

                <!--JuicyAds END-->

            </div>
            <div class="advertise" ng-show = " (category == 'Men Seeking Men') || (category == 'mm4m') || (category == 'm4mm') ">
              
              <!-- JuicyAds v3.0 -->

              <script type="text/javascript" data-cfasync="false" async src="//adserver.juicyads.com/js/jads.js"></script>

              <ins id="668809" data-width="728" data-height="90"></ins>

              <script type="text/javascript" data-cfasync="false" async>(adsbyjuicy = window.adsbyjuicy || []).push({'adzone':668809});</script>

              <!--JuicyAds END-->

            </div>
          </div>

          <div ng-show = "windowWidth < 752">
            <div class="advertise" ng-show = " (category == 'Men Seeking Woman') || (category == 'Women Seeking Men') || (category == 'Woman Seeking Woman') || (category == 't4m') || (category == 'm4t') || (category == 't4w') || (category == 'w4t') || (category == 't4t') || (category == 'mw4mw') || (category == 'mw4w') || (category == 'mw4m') || (category == 'w4mw') || (category == 'w4ww') || (category == 'ww4w') || (category == 'ww4m') || (category == 'mm4w') || (category == 'm4ww') || (category == 'w4mm') || (category == 't4mw') || (category == 'mw4t') ">
                
                <!-- JuicyAds v3.0 -->
                <script type="text/javascript" data-cfasync="false" async src="//adserver.juicyads.com/js/jads.js"></script>
                <ins id="670058" data-width="300" data-height="62"></ins>
                <script type="text/javascript" data-cfasync="false" async>(adsbyjuicy = window.adsbyjuicy || []).push({'adzone':670058});</script>
                <!--JuicyAds END-->

            </div>
            <div class="advertise" ng-show = " (category == 'Men Seeking Men') || (category == 'mm4m') || (category == 'm4mm') ">
              
              <!-- JuicyAds v3.0 -->
              <script type="text/javascript" data-cfasync="false" async src="//adserver.juicyads.com/js/jads.js"></script>
              <ins id="670059" data-width="300" data-height="62"></ins>
              <script type="text/javascript" data-cfasync="false" async>(adsbyjuicy = window.adsbyjuicy || []).push({'adzone':670059});</script>
              <!--JuicyAds END-->

            </div>
          </div>
          <p style="margin-bottom: 20px;"> *If you feel this post violates the law in any way shape or form, such as exploitation of minors or human trafficking, please contact the authorities immediately</p>  
        </div>
      </div>
    </div>


    <!-- gallery cnt ends-->