<!-- selection-section starts-->
<!--   <div class="select_sec" ng-controller = "CommentController" >
      <div class="container">
          <div class="select_inr">
            <div class="select_item clearfix"> 
                <div class="select_area">
                  <select name="number" class="block" ng-model="vm.state" ng-options="x for x in states" ng-change="changeListInCtrl(vm.state);" ng-init="vm.state = vm.state || 'State'">
                  </select>
                </div>
                <div class="select_area">
                  <select name="number" id="region" class="block" ng-model="vm.region" ng-options="x for x in regions" ng-init="vm.region = vm.region || 'Region'">
                  </select>
                </div>
                <div class="select_area">
                  <select name="number" id="category" class="block" ng-model="vm.category" ng-options="x for x in categories" ng-init="vm.category = vm.category || 'Category'">
                  </select>
                </div>
                <div class="select_sbt">
                   <input type="submit" placeholder="Submit" ng-click ="vm.search()">
                </div>
            </div>
            <div class="add_post post_bk">
              <input type="submit" value="Post an AD" ng-click="vm.post()">
            </div>
          </div>
      </div>  
    </div> -->
    <!-- selection-section ends-->

   <!-- add_details -->
   <section class="add_details" ng-controller = "CommentController" ng-init = "initController();">
          <button type="button" class="close" ng-click="closeModal();">&times;</button>
          <div class="add_hdr">
            <h2>Re: {{commentMessage}}</h2>
          </div>
          <!-- <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div> -->
          <div class="mandatory_section" ng-if = "showError">
            <h3>Important</h3>
            <p ng-if = "showRequiredReplyMessageError">- Please enter body of the message.</p>
            <p ng-if = "showCaptchaError">- Please accept the Recaptcha</p>
          </div>
          <div class="bio_sec">
            <!-- <div class="add_cnt">
              <div class="add_note">
                <p>* <em>REMINDER:</em> Please be aware that your email address will be shown to the poster so its up to you as far as which email address you use to reply.  For safety, never send personal information over the internet to anyone you may not know!</p>
              </div>
            </div> -->
            <div class="reply_item_outer">
              <form class="form-horizontal" action="" method="post">
      
                <div class="add_cnt">
                  <div class="add_note">
                    <p>Post an public reply for this comment!</p>
                  </div>
                </div>
                <!-- Message body -->
                <div class="form-group">
                  <div class="reply_item mand">
                    <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5" ng-model="replymessage"></textarea>
                  </div>
                </div>

                <div class="comment_upload_outer">
                <div class="file_upload">
                    <ul>
                      <li>
                        <a href="javascript:void(0)">
                          <input type="file" class="cust_file wd_97" ng-reply-file-model="vm.data.files" multiple style="color: transparent;" />
                          <i class="fa fa-picture-o"></i>
                        </a>
                      </li>
                      <li>
                        <a href="" ng-click="toggleEmbedButton();">
                          <i class="fa fa-file-video-o"></i>
                        </a>
                      </li>
                    </ul>
                    <div class="emmbed_video" style="background: #cdcbf5;clear: both;margin:0px;" ng-show = "showEmbedButtons == true">
                      <input type="text" placeholder='<iframe src="embed_url"></iframe>' class="embeded_area" ng-model="replyembed">
                    </div>
                    <div class="file_results">
                    <img ng-if = "loadingImage" src="app-content/images/imageLoader.gif" style="width: 100px;">
                    <div class="upload_item" ng-repeat="file in tempImageList"><div style="position: relative"><img class='img-responsive' src={{file.secure_url}} ng-init = "stopLoader();"><img src="app-content/images/closeIcon.png" style="position: absolute; top: 4px; right: 5px; cursor: pointer;" ng-click = "deleteImage($index);"/></div></div>
                  </div>

                 <div class="notified_area">
                  <a href="" ng-click="toggleReplyNotify();">Get notified when someone comments to your comment(optional)</a>
                  </div>
                <div class="comment_field" ng-show = "replyNotified == true">
                  <input id="email" name="email" type="text" placeholder="Your email" class="cust_email" ng-model="replyNotifiedEmail">
                </div>
              </div>
                </div>
                <div class="form-group pdL">
                    <div class="reply_item" vc-recaptcha key="'6LdK608UAAAAAIIPni45gUqw9p_vn4mLa_CtlSlv'" ng-model="captcha"></div>
                </div>
                <!-- Form actions -->
                <div class="form-group pdL">
                  <div class="reply_item text-left">
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="notify();">Submit</button>
                  </div>
                </div>
              </form>
            </div>

          </div>
   </section>