<!-- selection-section starts-->
    <div class="select_sec" ng-controller = "SearchController" >
      <div class="container">
          <div class="select_inr">
            <div class="select_item clearfix"> 
              <div class="select_area">
                  <select name="number" class="block" ng-model="vm.state" ng-options="x for x in states" ng-change="changeListInCtrl(vm.state);">
                  </select>
                </div>
                <div class="select_area">
                  <select name="number" id="region" class="block" ng-model="vm.region" ng-options="x for x in regions">
                  </select>
                </div>
                <div class="select_area">
                  <select name="number" id="category" class="block" ng-model="vm.category" ng-options="x for x in categories">
                  </select>
                </div>
               <!--  <div class="select_area">
                  <select name="number" id="state" class="block" ng-model="vm.state">
                    <option selected="selected">State</option>
                    <option>California</option>
                    <option>State2</option>
                    <option>State3</option>
                    <option>State4</option>
                    <option>State5</option>
                    <option>State6</option>
                  </select>
                </div>
                <div class="select_area">
                  <select name="number" id="region" class="block" ng-model="vm.region">
                    <option selected="selected">Region</option>
                    <option>Los Angelas</option>
                    <option>Region2</option>
                    <option>Region3</option>
                    <option>Region4</option>
                    <option>Region5</option>
                    <option>Region6</option>
                  </select>
                </div>
                <div class="select_area">
                  <select name="number" id="category" class="block" ng-model="vm.category">
                    <option selected="selected">Category</option>
                    <option>Men Seeking Woman</option>
                    <option>Category2</option>
                    <option>Category3</option>
                    <option>Category4</option>
                    <option>Category5</option>
                    <option>Category6</option>
                  </select>
                </div> -->
                <div class="select_sbt">
                   <input type="submit" placeholder="Submit" ng-click ="vm.search()">
                </div>
            </div>
            <div class="add_post post_bk">
              <input type="submit" value="Post an AD" ng-click="vm.post()">
            </div>
          </div>
      </div>  
    </div>
    <!-- selection-section ends-->

<section class="" ng-controller="SearchController" ng-init = "initController();">
  <div class="container" ng-controller="AdsController">
      <div class="bread_cnt">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">{{vm.state}}</a></li>
            <li class="breadcrumb-item"><a href="#">{{vm.region}}</a></li>
             <li class="breadcrumb-item"><a href="#">{{vm.category}}</a></li>
          </ol>
      </div>
      <div class="add_hdr">
        <h2 style="font-weight: normal;font-size: 14px;">Showing {{vm.currentPage+1}} of {{data.length/vm.pageSize | roundup}}</h2>
      </div>
      <div class="add_cnt">
        <div class="">
            <ul style="padding-top: 0px;">
                <li ng-repeat="item in data | startFrom: vm.currentPage * vm.pageSize | limitTo: vm.pageSize" class="clearfix">
                    <a href="#" class="result-image gallery"><img alt="" class="thumb" src="http://placehold.it/50">
                    </a>
                    <div class="text_right">
                      <p><h4><a href="javascript:void(0)" ng-click="viewDetail(item)" >{{item.body}} - {{item.age}} ({{item.location}})</a></h4><p>
                      <p>2 min ago</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="blog_slider">
          <button ng-disabled="vm.currentPage == 0" ng-click="vm.currentPage=vm.currentPage-1" class="nav_btn prev">
            < Previous
            </button>
            <button ng-disabled="vm.currentPage >= data.length/vm.pageSize - 1" ng-click="vm.currentPage=vm.currentPage+1" class="nav_btn">
                Next >
            </button>
        </div>
      </div>
  </div>
</section>