<!-- selection-section starts-->
  <div class="select_sec" ng-controller = "ErrorController" >
      <div class="container">
          <div class="select_inr">
            <div class="select_item"> 
                <div class="select_area">
                  <select name="number" class="block" ng-model="vm.country" ng-options="x for x in countries"  ng-init="vm.country = vm.country || 'Country'">
                  </select>
                </div>
                <div class="select_area">
                  <select name="number" class="block" ng-model="vm.state" ng-options="x for x in states" ng-change="changeListInCtrl(vm.state);" ng-init="vm.state = vm.state || 'State'">
                  </select>
                </div>
                <div class="select_area">
                  <select name="number" id="region" class="block" ng-model="vm.region" ng-options="x for x in regions" ng-init="vm.region = vm.region || 'Region'">
                  </select>
                </div>
                <div class="select_area">
                  <select name="number" id="category" class="block" ng-model="vm.category" ng-options="x for x in categories" ng-init="vm.category = vm.category || 'Category'">
                  </select>
                </div>
                <div class="select_sbt">
                   <input type="submit" placeholder="Submit" ng-click ="vm.search()">
                </div>
                <div class="loc_block">
                  <a href="javascript:void(0)"><i class="fa fa-lock"></i></a>
                </div>
                <div class="unloc_block" style="display: none;">
                  <a href="javascript:void(0)"><i class="fa fa-unlock"></i></a>
                </div>
            </div>
            <div class="add_post post_bk">
              <input type="submit" value="Post an AD" ng-click="vm.post()">
            </div>
          </div>
      </div>  
    </div>
    <!-- selection-section ends-->

   <!-- add_details -->
   <section class="add_details" ng-controller = "ErrorController" >
      <div class="container">
          <div class="add_hdr">
            <h2>Maximum Limit Reached!</h2>
          </div>
          <div class="bio_sec">
            <div class="privacy_inr">
              <p>You have too many posts at one time. You can delete some posts or wait till your other posts expire!</p>
            </div>

          </div>
      </div>
   </section>