
        <div class="dashboard_section" ng-controller"PostController">
                <div class="sidenav">
                    <div class="dashboard_logo_block">
                        <a href=""  ng-click="vm.dashboard()" class="moltin_logo"><img src="app-content/images/logonew.png" alt=""></a>
                        <a href="javascript:void(0)" class="moltin_logo_hidden"><img src="app-content/images/logo.png" alt=""></a>
                    </div>
                    <div id="main-menu" class="main-menu collapse navbar-collapse">
                        <ul class="primary_menu">
                            <li class="menu-item dropdown">
                                <a href="dashboard.html" class="dropdown-toggle"  ng-click="vm.dashboard()"> <i class="fa fa-home" aria-hidden="true"></i><p>Home</p></a>
                            </li>
                            <li class="menu-item dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-clipboard" aria-hidden="true"></i><p>Posts</p></a>
                            </li>
                            <li class="menu-item dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-inbox" aria-hidden="true"></i><p>Flagged Posts</p></a>
                            </li>
    
                        </ul>
                        <ul class="secondary_menu">
                            <li class="menu-item dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-users" aria-hidden="true"></i><p>Account</p></a>
                            </li>
                            <li class="menu-item dropdown">
                                <a href="" ng-click="vm.login()" class="dropdown-toggle"><i class="fa fa-sign-out" aria-hidden="true"></i><p>Log out</p></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


    <div class="right_section">


        <div class="header clearfix">
            <a href="javascript:void(0)" class="search_button-top"><input type="text" placeholder="search here"><i class="fa fa-search" aria-hidden="true"></i></a>
        </div>
    
        
      
        <div class="container main-table">
            <div class="row">
                <div class="col-md-2">
                    <h6>Post Title</h6>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <h6 class="name2">User Name</h6>
                </div>
                
                <div class="col-md-3 col-md-offset-2">
                    <h6 class="name3">Status</h6>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
            
            <div id="wrapper">
          <div class="scrollbar" id="style-default">
                <div class="container main-table-item">
                        <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-fixed">
                                        <tbody>
                                            <tr>
                                                <td>Lorem Ipsum is simply </td>
                                                <td><img src="app-content/images/post.jpg" alt="image" class="img-responsive" height="75px" width="70px"></td>
                                                <td>Lorem Ipsum is simply </td>
                                                <td>
                                                    <a href="">
                                                        <p data-placement="top"><span><i class="fa fa-eye" aria-hidden="true"></i></span></p>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="">
                                                        <p data-placement="top" data-toggle="tooltip" title="Delete"><span class="glyphicon glyphicon-trash"></span></p>
                                                    </a>
                                                </td>
            
                                                
                                                <td></td>
            
                                                <td><button>Live</button></td>
                                            </tr>
            
                                            <tr>
                                                <td>Lorem Ipsum is simply </td>
                                                <td><img src="app-content/images/post.jpg" alt="image" class="img-responsive" height="75px" width="70px"></td>
                                                <td>Lorem Ipsum is simply </td>
                                                <td>
                                                    <a href="">
                                                        <p data-placement="top"><span><i class="fa fa-eye" aria-hidden="true"></i></span></p>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="#">
                                                        <p data-placement="top" data-toggle="tooltip" title="Delete"><span class="glyphicon glyphicon-trash"></span></p>
                                                    </a>
                                                </td>
            
                                               
                                                <td></td>
            
                                                <td><button>Live</button></td>
                                            </tr>
            
                                            <tr>
                                                <td>Lorem Ipsum is simply </td>
                                                <td><img src="app-content/images/post.jpg" alt="image" class="img-responsive" height="75px" width="70px"></td>
                                                <td>Lorem Ipsum is simply </td>
                                                <td>
                                                    <a href="">
                                                        <p data-placement="top"><span><i class="fa fa-eye" aria-hidden="true"></i></span></p>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="">
                                                        <p data-placement="top" data-toggle="tooltip" title="Delete"><span class="glyphicon glyphicon-trash"></span></p>
                                                    </a>
                                                </td>
                                                
                                                <td></td>
                                                <td><button>Live</button></td>
                                            </tr>
            
                                            <tr>
                                                <td>Lorem Ipsum is simply </td>
                                                <td><img src="app-content/images/post.jpg" alt="image" class="img-responsive" height="75px"width="70px"></td>
                                                <td>Lorem Ipsum is simply </td>
                                                <td>
                                                    <a href="">
                                                        <p data-placement="top"><span><i class="fa fa-eye" aria-hidden="true"></i></span></p>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="">
                                                        <p data-placement="top" data-toggle="tooltip" title="Delete"><span class="glyphicon glyphicon-trash"></span></p>
                                                    </a>
                                                </td>
                                               
                                                <td></td>
                                                <td><button>Live</button></td>
                                            </tr>
            
                                            <tr>
                                                <td>Lorem Ipsum is simply </td>
                                                <td><img src="app-content/images/post.jpg" alt="image" class="img-responsive" height="75px" width="70px"></td>
                                                <td>Lorem Ipsum is simply </td>
                                                <td>
                                                    <a href="">
                                                        <p data-placement="top"><span><i class="fa fa-eye" aria-hidden="true"></i></span></p>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="">
                                                        <p data-placement="top" data-toggle="tooltip" title="Delete"><span class="glyphicon glyphicon-trash"></span></button>
                                                        </p>
                                                    </a>
                                                </td>
                                                
                                                <td></td>
                                                <td><button>Live</button></td>
                                            </tr>
            
            
            
            
                                        </tbody>
                                    </table>
            
                                </div>
                            </div>
            
                        </div>
            
                    </div>



                
                    
                    
                    </div>

            </div>

            
        </div>
        <!--pagination-->

    <div class="container main-table">
        <div class="row">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>

        </div>
    </div>
    </div>
    <!--end-all section-->


</body>

</html>