<!-- selection-section starts--> 
    <div class="select_sec" ng-controller = "HomeController" >
      <div class="container">
          <div class="select_inr">
            <div class="select_item clearfix"> 
                <div class="select_area">
                  <select name="number" class="block" ng-model="vm.state" ng-options="x for x in states" ng-change="changeListInCtrl(vm.state);">
                  </select>
                </div>
                <div class="select_area">
                  <select name="number" id="region" class="block" ng-model="vm.region" ng-options="x for x in regions">
                  </select>
                </div>
                <div class="select_area">
                  <select name="number" id="category" class="block" ng-model="vm.category" ng-options="x for x in categories">
                  </select>
                </div>
                <div class="select_sbt">
                   <input type="submit" placeholder="Submit" ng-click ="vm.search()">
                </div>
            </div>
            <div class="add_post post_bk">
              <input type="submit" value="Post an AD" ng-click="vm.post()">
            </div>
          </div>
      </div>  
    </div>
    <!-- selection-section ends-->

    <div class="banner_section">
      <div class="container">
        <figure>
          <img src="app-content/images/banner_image.jpg" alt=""/>
        </figure>
      </div>
    </div>

    <!--- favourate-text -->
    <!-- <section class="favourate_text">
        <div class="container">
          
          <div class="fav_hdr">
            <h2>Your new favorite personals site!</h2>
          </div>
          <div class="fav_cnt">
            <ul>
              <li>
                Create Personal Records              
              </li>
              <li>
                <span style= "color:rgb(244,101,87);">Search</span>, <span style= "color:rgb(244,101,87);">Reply</span>, and <span style= "color:rgb(244,101,87);">Post</span> to personals ads            
              </li>
              <li>No accounts required ever!</li>
              <li>
               <a href="http://instagram.com/officialhealthyfling" target="_blank" style="color:black;">
                 Follow us on <span><img src="app-content/images/instagram.png" alt=""></span>
               </a>
             </li>
            </ul>
            <p>PLEASE DO NOT ABUSE THE SITE.  THIS SITE IS MEANT AS A CLEAN COMMUNITY FOR ADULTS LOOKING TO MEET OTHER LOCALS.  POSTING ANYTHING ILLEGAL OR REPLYING WITH ADVERTISEMENTS IS AGAINST OUR TERMS OF SERVICE AND CAN GET YOU BLOCKED AND OR PROSECUTED!</p>
          </div>
        </div>
    </section> -->

    <!--- favourate-text ends -->

    <!--- disclamer-text -->
    <!-- <section class="disclamer-text">
      <div class="container">
          <div class="dis_inr clearfix">
            <span>Disclaimer:</span>
            <p>By either posting or browsing on HealthyFling.com, you confirm that you are at least 18 years of age, understand that this site may include adult content, and release HealthyFling.com from any liability related to your use of this site.</p>
          </div>
      </div>
    </section> -->

    <!--- disclamer-text ends