<!-- selection-section starts-->
    <div class="select_sec" ng-controller = "HomeController" >
      <div class="container">
          <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
          <div class="select_inr">
            <div class="select_item"> 
                <div class="select_area">
                  <select name="number" class="block" ng-model="vm.country" ng-options="x for x in countries">
                  </select>
                </div>
                <div class="select_area">
                  <select name="number" class="block" ng-model="vm.state" ng-options="x for x in states" ng-change="changeListInCtrl(vm.state);" ng-init = "changeListInCtrl(vm.state)">
                  </select>
                </div>
                <div class="select_area">
                  <select name="number" id="region" class="block" ng-model="vm.region" ng-options="x for x in regions">
                  </select>
                </div>
                <div class="select_area">
                  <select name="number" id="category" class="block" ng-model="vm.category" ng-options="x for x in categories">
                  </select>
                </div>
                <div class="select_sbt">
                   <input type="submit" placeholder="Submit" ng-click ="vm.search()">
                </div>
                <div ng-show = "vm.savedPreference == true" class="loc_block">
                  <a href="" ng-click="vm.unlockPreference()"><i class="fa fa-lock"></i></a>
                </div>
                <div ng-hide = "vm.savedPreference == true" class="unloc_block">
                  <a href="" ng-click="vm.lockPreference()"><i class="fa fa-unlock"></i></a>
                </div>
            </div>
            <div class="add_post post_bk">
              <input type="submit" value="Post an AD" ng-click="vm.post()">
            </div>
          </div>
      </div>  
    </div>
    <!-- selection-section ends-->

    <div class="banner_section">
      <div class="container">
        <figure class="desk_view">
          <img lazy-src = "app-content/images/banner_image.jpg" animate-visible="true" animate-speed="0.5s" alt=""/>
        </figure>
        <figure class="tab_view">
          <img lazy-src = "app-content/images/tablet_banner.png" animate-visible="true" animate-speed="0.5s" alt=""/>
        </figure>
        <figure class="mobile_view">
          <img lazy-src = "app-content/images/mob_banner.png" animate-visible="true" animate-speed="0.5s" alt=""/>
        </figure>
      </div>
    </div>