<!-- selection-section starts-->
  <!-- <div class="select_sec" ng-controller = "FlagController" >
      <div class="container">
          <div class="select_inr">
            <div class="select_item clearfix"> 
                <div class="select_area">
                  <select name="number" class="block" ng-model="vm.state" ng-options="x for x in states" ng-change="changeListInCtrl(vm.state);" ng-init="vm.state = vm.state || 'State'">
                  </select>
                </div>
                <div class="select_area">
                  <select name="number" id="region" class="block" ng-model="vm.region" ng-options="x for x in regions" ng-init="vm.region = vm.region || 'Region'">
                  </select>
                </div>
                <div class="select_area">
                  <select name="number" id="category" class="block" ng-model="vm.category" ng-options="x for x in categories" ng-init="vm.category = vm.category || 'Category'">
                  </select>
                </div>
                <div class="select_sbt">
                   <input type="submit" placeholder="Submit" ng-click ="vm.search()">
                </div>
            </div>
            <div class="add_post post_bk">
              <input type="submit" value="Post an AD" ng-click="vm.post()">
            </div>
          </div>
      </div>  
    </div> -->
    <!-- selection-section ends-->

   <!-- add_details -->
   <section class="add_details" ng-controller = "FlagController" ng-init = "initController();">
      <button type="button" class="modal_close" ng-click="closeModal();"><i class="fa fa-times-circle"></i></button>
          <div class="add_hdr flag_hdr">
            <h2>Why they flagged the post?</h2>
          </div>
          <div class="flag_reason">
            <h5>here are the options:</h5>
            <ul>
              <li>
                <label class="cust_check">
                    <input type="checkbox">
                    <span></span> Child pornograpy and or endangerment
                </label>
              </li>
              <li>
                <label class="cust_check">
                    <input type="checkbox">
                    <span></span> Prostitution
                </label>
              </li>
              <li>
                <label class="cust_check">
                    <input type="checkbox">
                    <span></span> Promoted terrorism
                </label>
              </li>
              <li>
                <label class="cust_check">
                    <input type="checkbox">
                    <span></span> Spam or misleading
                </label>
              </li>
            </ul>
            <div class="response_btn_area">
              <div class="innr_btn">
                <input type="submit" class="cust_btn" value="Cancel">
              </div>
              <div class="innr_btn">
                <input type="submit" class="cust_btn" value="Submit">
              </div>
            </div>
          </div>
   </section>